{% extends 'base.html' %}
{% block title %}Quizzes{% endblock %}

{% block content %}
<div class="courses-container">
    <h2>Your Quizzes</h2>

    {% if quizzes %}
        <div class="card-list">
            {% for quiz in quizzes %}
                <div class="course-card" onclick="location.href='{{ url_for('solve_quiz', quiz_id=quiz.quiz_id) }}'">
                    <strong>{{ quiz.chapter_name }}</strong><br>
                    <small>Created on: {{ quiz.date_created }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't generated any quizzes yet.</p>
    {% endif %}
</div>
{% endblock %}
