{% extends 'base.html' %}
{% block title %}{{ chapter_name }} Summary{% endblock %}

{% block content %}
<div class="courses-container">
    <h2>{{ chapter_name }}</h2>

    <div class="course-card always-blue">
        <pre class="summary-text">{{ summary }}</pre>
    </div>


    <div class="buttons" style="margin-top: 20px; text-align: center;">
  <form method="POST" action="{{ url_for('generate_quiz', chapter_id=chapter_id) }}">
    <button type="submit" class="submit-button">Generate Quiz</button>
  </form>
</div>



</div>
{% endblock %}
